*{
    margin: 0;
    padding: 0;
    font-family: "Hind Vadodara";
    font-style: normal;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Home, .Titulo, .Redes{
    margin: 5% 5% 2% 5%;
}
ol{
    display: flex;
    gap: 15px;
}
li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: #331B3B;
}
.Redes{
    display: flex;
    gap: 15px;
}
.seccion1{
    margin-bottom: 7%;
}
.textos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    align-items: center;
    justify-content: center;
}
.contenidoseccion1{
    padding: 10%;
    grid-column: 1;
    width: 70%;
}
.texto{
    font-family: 'Hind Vadorara';
    font-size: 20px;
    padding-left: 2%;
}
.titulo1{
    color: #331B3B;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    padding: 10px;
}
.boton{
    margin-left: 2%;
    margin-top: 5%;
    padding: 2% 7%;
    text-align: center;
    width: 30%;
    background: #331B3B;
    border-radius: 10px;
}
.boton a{
    text-decoration: none;
    color: white;
}
.imagen1{
    grid-column: 2;
}
.imagen1 img{
    width: 100%;
}
.seccion2{
    background: #ECF7FF;
    border-radius: 0px 400px 0px 0px;
    padding: 5%;
}
.contenedorseccion2{
    align-items: center;
}
.titulo{
    text-align: center;
    font-size: 30px;
    font-family:'Hind Vadorara' ;
}
.tarjeta{
    margin-top: 5%;
    width: 308px;
    height: 192px;
    background: #FFFFFF;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 2%;
}
.tres-tarjetas1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 3%; 
}
.textos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: auto;
}
.tarjeta img{
    padding: 2%;
    border-radius: 10px;
}
.imagenmb img{
    background-color: #D4F0FF;
}
.imagenpc img{
    background-color: #FFEED4;
}
.imagenws img{
    background-color: #FFDED4;
}

.imagen3{
    grid-column: 1;
}
.contenido-seccion3{
    padding: 5%;
    width: 70%;
}
.titulo3{
    grid-column: 2;
    grid-row: 1;
    color: #331B3B;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    padding: 10px;
}
.texto3{
    padding: 2%;
    grid-column: 2;
    font-size: 20px;
    color: rgba(51, 27, 59, 0.66);
}
.boton3{
    padding: 2% 10%;
    text-align: center;
    width: 30%;
    background: #331B3B;
    border-radius: 10px;
}

.boton3 a{
    text-decoration: none;
    color: white;
}




.contenedorseccion4{
    padding-bottom: 5%;
}

.seccion4{
    background: rgba(255, 222, 212, 0.3);
    border-top-left-radius: 400px;
}
.dos-tarjetas4t{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}
.tarjeta4pt{
    font-size: 30px;
    flex-basis: 45%;
    font-family: 'Hind Vadorara';
    color: #331B3B;
}
.tarjeta4pp{
    font-size: 16px;
    flex-basis: 45%;
}

.dos-tarjetas4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
}
.contenido4{
    padding: 1.4%;
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
    margin: 10px;
    height: fit-content;
}
.boton-recientes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;
}
.boton4{
    border: 2px solid #331B3B;
    padding: 2% 5%;
    border-radius: 30px;
}
.boton-recientes a{
    text-decoration: none;
    color: #331B3B;    
}


.seccion5{
    margin-top: 5%;
}

.tarjeta5{

    padding: 2.4%;
    background-color: white;
    border: 2px;
    margin-top: 4%;
    width: 400px; 
    height: fit-content;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.08);
}
.cuerpo{
    font-family: 'Hind Vadorara';
    font-size: 20px;
}
.dos-tarjetas1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 40px; 
}
footer {
    margin-top: 100px;
    display: fixed;
    bottom: 0;
    width: 100%;
    background-color: black ;
    color: white;
    border-top-right-radius: 120px 120px;
}

.contenedor{
    display: flex;
    padding: 5rem;
}
.contenedor .section {
    flex-basis:contenido;
    padding: 0 20px;
}
.contenedor .izquierda {
    flex-basis: 50%;
    padding: 0 20px;
}

.izquierda p {
    margin-right: 40%;
    padding-bottom: 2%;
}

.izquierda .contenido {
    margin: 20px 0 0 0;
    position: relative;
}

.izquierda .contenido::before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
}
.izquierda button{
    height: 20px;
    border: none;
    outline: none;
    background: black;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.derecha{
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-right: 50px;
}

.derecha input{
    width: 100%;
    height: 30px;
    font-size: 1.0625rem;
    font-family: 'Hind Vadodara',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
}
.derecha textarea{
    font-size: 1.0625rem ;
    height: 100px;
    width: 100%;
}
.derecha button{
    height: 30px;
    width: 100%;
    border: none;
    outline: none;
    background: #FE9A22;
    color: white;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
}
.costado{
    
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-right: 50px;
}
.costado input{
    height: 30px;
    font-size: 1.0625rem;;
    width: 100%;
    font-family: 'Hind Vadodara',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
}
@media screen and (max-width:920px){
    .contenedor{
        display: flex;
        flex-direction: column;
        height: 900px;
    }
}
@media screen and (max-width: 400px) {
    img{
        width: 50%; 
    }
}