*{
    margin: 0;
    padding: 0;
    font-family: "Hind Vadodara";
    font-style: normal;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Home, .Titulo, .Redes{
    margin: 5% 5% 2% 5%;
}
ol{
    display: flex;
    gap: 15px;
}
li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: #331B3B;
}
.Redes{
    display: flex;
    gap: 15px;
}
.textos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    align-items: center;
    justify-content: center;
}
.contenidoseccion1{
    padding: 10%;
    grid-column: 1;
    width: 70%;
}
.texto{
    font-family: 'Hind Vadorara';
    font-size: 20px;
    padding-left: 2%;
}
.titulo1{
    color: #331B3B;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    padding: 10px;
}
.boton{
    margin-left: 2%;
    margin-top: 5%;
    padding: 2% 7%;
    text-align: center;
    width: 30%;
    background: #331B3B;
    border-radius: 10px;
}
.boton a{
    text-decoration: none;
    color: white;
}
.imagen1{
    grid-column: 2;
}
.imagen1 img{
    width: 100%;
}
.seccion2{
    background: #ECF7FF;
    border-radius: 0px 400px 0px 0px;
    padding: 5%;
}
.contenedorseccion2{
    align-items: center;
}
.titulo{
    text-align: center;
    font-size: 30px;
    font-family:'Hind Vadorara' ;
}
.tarjeta{
    margin-top: 5%;
    width: 308px;
    height: 192px;
    background: #FFFFFF;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 2%;
}
.tres-tarjetas1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 3%; 
}
.textos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    margin: auto;
}
.tarjeta img{
    padding: 2%;
    border-radius: 10px;
}
.imagenmb img{
    background-color: #D4F0FF;
}
.imagenpc img{
    background-color: #FFEED4;
}
.imagenws img{
    background-color: #FFDED4;
}
.imagen3{
    grid-column: 1;
    grid-row: 1/3;
    margin-top: -90px;
}
.titulo3{
    grid-column: 2;
    grid-row: 1;
    color: #331B3B;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    padding: 10px;
}
.texto3{
    grid-column: 2;
    grid-row: 2;
}
.boton3{
    grid-column: 2;
    grid-row: 3;
    margin: auto;
    margin-bottom: 5%;
    padding: 2px 10px;
    text-align: center;
    width: 30%;
    background: #331B3B;
    border-radius: 10px;
}
.boton3 a{
    text-decoration: none;
    color: white;
}
.fondo2{
    position: absolute;
    background-image: url("/img/Rectangle\ 13.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 652px;
}
.dos-tarjetas4t{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tarjeta4p{
    margin: 10px;
}
.dos-tarjetas4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
}
.contenido4{
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
    margin: 10px;
}
.tarjeta5{
    background-color: white;
    border: 2px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 308px; 
    height: 192px;
    box-shadow: 0px 0px 7px 1px
}
.dos-tarjetas1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}
footer{
    padding: 10px 55px;
    background-color: black;
    color: white;
    text-align: end;
}